/.phpunit.cache
/node_modules
/public/build
/public/fonts-manifest.dev.json
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
.ai
.editorconfig
.env
.env.backup
.env.production
.gitattributes
.npmrc
.phpactor.json
.phpunit.result.cache
AGENTS.md
boost.json
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/auth.json
/.fleet
/.idea
/.junie
/.nova
/.vscode
/.zed

